<a style="position:relative; top:50px; left:1300px;", href="{{ url_for('index') }}">To the main page</a><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>seqid</th>
      <th>source</th>
      <th>type</th>
      <th>start</th>
      <th>end</th>
      <th>score</th>
      <th>strand</th>
      <th>phase</th>
      <th>attribute</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>248956422</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:1;Alias=CM000663.2,chr1,NC_000001.11</td>
    </tr>
    <tr>
      <th>235068</th>
      <td>10</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>133797422</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:10;Alias=CM000672.2,chr10,NC_000010.11</td>
    </tr>
    <tr>
      <th>328938</th>
      <td>11</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>135086622</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:11;Alias=CM000673.2,chr11,NC_000011.10</td>
    </tr>
    <tr>
      <th>483370</th>
      <td>12</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>133275309</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:12;Alias=CM000674.2,chr12,NC_000012.12</td>
    </tr>
    <tr>
      <th>634486</th>
      <td>13</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>114364328</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:13;Alias=CM000675.2,chr13,NC_000013.11</td>
    </tr>
    <tr>
      <th>674767</th>
      <td>14</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>107043718</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:14;Alias=CM000676.2,chr14,NC_000014.9</td>
    </tr>
    <tr>
      <th>767312</th>
      <td>15</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>101991189</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:15;Alias=CM000677.2,chr15,NC_000015.10</td>
    </tr>
    <tr>
      <th>865053</th>
      <td>16</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>90338345</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:16;Alias=CM000678.2,chr16,NC_000016.10</td>
    </tr>
    <tr>
      <th>990810</th>
      <td>17</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>83257441</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:17;Alias=CM000679.2,chr17,NC_000017.11</td>
    </tr>
    <tr>
      <th>1155977</th>
      <td>18</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>80373285</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:18;Alias=CM000680.2,chr18,NC_000018.10</td>
    </tr>
    <tr>
      <th>1201561</th>
      <td>19</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>58617616</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:19;Alias=CM000681.2,chr19,NC_000019.10</td>
    </tr>
    <tr>
      <th>1364641</th>
      <td>2</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>242193529</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:2;Alias=CM000664.2,chr2,NC_000002.12</td>
    </tr>
    <tr>
      <th>1559144</th>
      <td>20</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>64444167</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:20;Alias=CM000682.2,chr20,NC_000020.11</td>
    </tr>
    <tr>
      <th>1616710</th>
      <td>21</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>46709983</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:21;Alias=CM000683.2,chr21,NC_000021.9</td>
    </tr>
    <tr>
      <th>1647482</th>
      <td>22</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>50818468</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:22;Alias=CM000684.2,chr22,NC_000022.11</td>
    </tr>
    <tr>
      <th>1705855</th>
      <td>3</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>198295559</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:3;Alias=CM000665.2,chr3,NC_000003.12</td>
    </tr>
    <tr>
      <th>1864567</th>
      <td>4</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>190214555</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:4;Alias=CM000666.2,chr4,NC_000004.12</td>
    </tr>
    <tr>
      <th>1964921</th>
      <td>5</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>181538259</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:5;Alias=CM000667.2,chr5,NC_000005.10</td>
    </tr>
    <tr>
      <th>2080148</th>
      <td>6</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>170805979</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:6;Alias=CM000668.2,chr6,NC_000006.12</td>
    </tr>
    <tr>
      <th>2196981</th>
      <td>7</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>159345973</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:7;Alias=CM000669.2,chr7,NC_000007.14</td>
    </tr>
    <tr>
      <th>2321361</th>
      <td>8</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>145138636</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:8;Alias=CM000670.2,chr8,NC_000008.11</td>
    </tr>
    <tr>
      <th>2416560</th>
      <td>9</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>138394717</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:9;Alias=CM000671.2,chr9,NC_000009.12</td>
    </tr>
    <tr>
      <th>2510747</th>
      <td>GL000008.2</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>209709</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:GL000008.2;Alias=chr4_GL000008v2_random,NT_113793.3</td>
    </tr>
    <tr>
      <th>2510751</th>
      <td>GL000009.2</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>201709</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:GL000009.2;Alias=chr14_GL000009v2_random,NT_113796.3</td>
    </tr>
    <tr>
      <th>2510760</th>
      <td>GL000194.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>191469</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:GL000194.1;Alias=chr14_GL000194v1_random,NT_113888.1</td>
    </tr>
    <tr>
      <th>2510794</th>
      <td>GL000195.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>182896</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:GL000195.1;Alias=chrUn_GL000195v1,NT_113901.1</td>
    </tr>
    <tr>
      <th>2510820</th>
      <td>GL000205.2</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>185591</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:GL000205.2;Alias=chr17_GL000205v2_random,NT_113930.2</td>
    </tr>
    <tr>
      <th>2510840</th>
      <td>GL000208.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>92689</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:GL000208.1;Alias=chr5_GL000208v1_random,NT_113948.1</td>
    </tr>
    <tr>
      <th>2510841</th>
      <td>GL000213.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>164239</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:GL000213.1;Alias=chrUn_GL000213v1,NT_167208.1</td>
    </tr>
    <tr>
      <th>2510912</th>
      <td>GL000214.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>137718</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:GL000214.1;Alias=chrUn_GL000214v1,NT_167209.1</td>
    </tr>
    <tr>
      <th>2510916</th>
      <td>GL000216.2</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>176608</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:GL000216.2;Alias=chrUn_GL000216v2,NT_167211.2</td>
    </tr>
    <tr>
      <th>2510939</th>
      <td>GL000218.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>161147</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:GL000218.1;Alias=chrUn_GL000218v1,NT_113889.1</td>
    </tr>
    <tr>
      <th>2510953</th>
      <td>GL000219.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>179198</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:GL000219.1;Alias=chrUn_GL000219v1,NT_167213.1</td>
    </tr>
    <tr>
      <th>2510977</th>
      <td>GL000220.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>161802</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:GL000220.1;Alias=chrUn_GL000220v1,NT_167214.1</td>
    </tr>
    <tr>
      <th>2511385</th>
      <td>GL000221.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>155397</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:GL000221.1;Alias=chr3_GL000221v1_random,NT_167215.1</td>
    </tr>
    <tr>
      <th>2511388</th>
      <td>GL000224.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>179693</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:GL000224.1;Alias=chrUn_GL000224v1,NT_167218.1</td>
    </tr>
    <tr>
      <th>2511395</th>
      <td>GL000225.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>211173</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:GL000225.1;Alias=chr14_GL000225v1_random,NT_167219.1</td>
    </tr>
    <tr>
      <th>2511453</th>
      <td>GL000226.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>15008</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:GL000226.1;Alias=chrUn_GL000226v1,NT_167220.1</td>
    </tr>
    <tr>
      <th>2511454</th>
      <td>KI270302.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2274</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270302.1;Alias=chrUn_KI270302v1,NT_187396.1</td>
    </tr>
    <tr>
      <th>2511455</th>
      <td>KI270303.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1942</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270303.1;Alias=chrUn_KI270303v1,NT_187398.1</td>
    </tr>
    <tr>
      <th>2511456</th>
      <td>KI270304.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2165</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270304.1;Alias=chrUn_KI270304v1,NT_187397.1</td>
    </tr>
    <tr>
      <th>2511457</th>
      <td>KI270305.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1472</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270305.1;Alias=chrUn_KI270305v1,NT_187399.1</td>
    </tr>
    <tr>
      <th>2511458</th>
      <td>KI270310.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1201</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270310.1;Alias=chrUn_KI270310v1,NT_187402.1</td>
    </tr>
    <tr>
      <th>2511459</th>
      <td>KI270311.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>12399</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270311.1;Alias=chrUn_KI270311v1,NT_187406.1</td>
    </tr>
    <tr>
      <th>2511460</th>
      <td>KI270312.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>998</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270312.1;Alias=chrUn_KI270312v1,NT_187405.1</td>
    </tr>
    <tr>
      <th>2511461</th>
      <td>KI270315.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2276</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270315.1;Alias=chrUn_KI270315v1,NT_187404.1</td>
    </tr>
    <tr>
      <th>2511462</th>
      <td>KI270316.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1444</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270316.1;Alias=chrUn_KI270316v1,NT_187403.1</td>
    </tr>
    <tr>
      <th>2511463</th>
      <td>KI270317.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>37690</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270317.1;Alias=chrUn_KI270317v1,NT_187407.1</td>
    </tr>
    <tr>
      <th>2511464</th>
      <td>KI270320.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>4416</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270320.1;Alias=chrUn_KI270320v1,NT_187401.1</td>
    </tr>
    <tr>
      <th>2511465</th>
      <td>KI270322.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>21476</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270322.1;Alias=chrUn_KI270322v1,NT_187400.1</td>
    </tr>
    <tr>
      <th>2511466</th>
      <td>KI270329.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1040</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270329.1;Alias=chrUn_KI270329v1,NT_187459.1</td>
    </tr>
    <tr>
      <th>2511467</th>
      <td>KI270330.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1652</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270330.1;Alias=chrUn_KI270330v1,NT_187458.1</td>
    </tr>
    <tr>
      <th>2511468</th>
      <td>KI270333.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2699</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270333.1;Alias=chrUn_KI270333v1,NT_187461.1</td>
    </tr>
    <tr>
      <th>2511469</th>
      <td>KI270334.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1368</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270334.1;Alias=chrUn_KI270334v1,NT_187460.1</td>
    </tr>
    <tr>
      <th>2511470</th>
      <td>KI270335.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1048</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270335.1;Alias=chrUn_KI270335v1,NT_187462.1</td>
    </tr>
    <tr>
      <th>2511471</th>
      <td>KI270336.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1026</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270336.1;Alias=chrUn_KI270336v1,NT_187465.1</td>
    </tr>
    <tr>
      <th>2511472</th>
      <td>KI270337.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1121</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270337.1;Alias=chrUn_KI270337v1,NT_187466.1</td>
    </tr>
    <tr>
      <th>2511473</th>
      <td>KI270338.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1428</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270338.1;Alias=chrUn_KI270338v1,NT_187463.1</td>
    </tr>
    <tr>
      <th>2511474</th>
      <td>KI270340.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1428</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270340.1;Alias=chrUn_KI270340v1,NT_187464.1</td>
    </tr>
    <tr>
      <th>2511475</th>
      <td>KI270362.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>3530</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270362.1;Alias=chrUn_KI270362v1,NT_187469.1</td>
    </tr>
    <tr>
      <th>2511476</th>
      <td>KI270363.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1803</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270363.1;Alias=chrUn_KI270363v1,NT_187467.1</td>
    </tr>
    <tr>
      <th>2511477</th>
      <td>KI270364.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2855</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270364.1;Alias=chrUn_KI270364v1,NT_187468.1</td>
    </tr>
    <tr>
      <th>2511478</th>
      <td>KI270366.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>8320</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270366.1;Alias=chrUn_KI270366v1,NT_187470.1</td>
    </tr>
    <tr>
      <th>2511479</th>
      <td>KI270371.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2805</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270371.1;Alias=chrUn_KI270371v1,NT_187494.1</td>
    </tr>
    <tr>
      <th>2511480</th>
      <td>KI270372.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1650</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270372.1;Alias=chrUn_KI270372v1,NT_187491.1</td>
    </tr>
    <tr>
      <th>2511481</th>
      <td>KI270373.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1451</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270373.1;Alias=chrUn_KI270373v1,NT_187492.1</td>
    </tr>
    <tr>
      <th>2511482</th>
      <td>KI270374.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2656</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270374.1;Alias=chrUn_KI270374v1,NT_187490.1</td>
    </tr>
    <tr>
      <th>2511483</th>
      <td>KI270375.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2378</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270375.1;Alias=chrUn_KI270375v1,NT_187493.1</td>
    </tr>
    <tr>
      <th>2511484</th>
      <td>KI270376.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1136</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270376.1;Alias=chrUn_KI270376v1,NT_187489.1</td>
    </tr>
    <tr>
      <th>2511485</th>
      <td>KI270378.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1048</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270378.1;Alias=chrUn_KI270378v1,NT_187471.1</td>
    </tr>
    <tr>
      <th>2511486</th>
      <td>KI270379.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1045</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270379.1;Alias=chrUn_KI270379v1,NT_187472.1</td>
    </tr>
    <tr>
      <th>2511487</th>
      <td>KI270381.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1930</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270381.1;Alias=chrUn_KI270381v1,NT_187486.1</td>
    </tr>
    <tr>
      <th>2511488</th>
      <td>KI270382.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>4215</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270382.1;Alias=chrUn_KI270382v1,NT_187488.1</td>
    </tr>
    <tr>
      <th>2511489</th>
      <td>KI270383.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1750</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270383.1;Alias=chrUn_KI270383v1,NT_187482.1</td>
    </tr>
    <tr>
      <th>2511490</th>
      <td>KI270384.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1658</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270384.1;Alias=chrUn_KI270384v1,NT_187484.1</td>
    </tr>
    <tr>
      <th>2511491</th>
      <td>KI270385.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>990</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270385.1;Alias=chrUn_KI270385v1,NT_187487.1</td>
    </tr>
    <tr>
      <th>2511492</th>
      <td>KI270386.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1788</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270386.1;Alias=chrUn_KI270386v1,NT_187480.1</td>
    </tr>
    <tr>
      <th>2511493</th>
      <td>KI270387.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1537</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270387.1;Alias=chrUn_KI270387v1,NT_187475.1</td>
    </tr>
    <tr>
      <th>2511494</th>
      <td>KI270388.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1216</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270388.1;Alias=chrUn_KI270388v1,NT_187478.1</td>
    </tr>
    <tr>
      <th>2511495</th>
      <td>KI270389.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1298</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270389.1;Alias=chrUn_KI270389v1,NT_187473.1</td>
    </tr>
    <tr>
      <th>2511496</th>
      <td>KI270390.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2387</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270390.1;Alias=chrUn_KI270390v1,NT_187474.1</td>
    </tr>
    <tr>
      <th>2511497</th>
      <td>KI270391.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1484</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270391.1;Alias=chrUn_KI270391v1,NT_187481.1</td>
    </tr>
    <tr>
      <th>2511498</th>
      <td>KI270392.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>971</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270392.1;Alias=chrUn_KI270392v1,NT_187485.1</td>
    </tr>
    <tr>
      <th>2511499</th>
      <td>KI270393.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1308</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270393.1;Alias=chrUn_KI270393v1,NT_187483.1</td>
    </tr>
    <tr>
      <th>2511500</th>
      <td>KI270394.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>970</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270394.1;Alias=chrUn_KI270394v1,NT_187479.1</td>
    </tr>
    <tr>
      <th>2511501</th>
      <td>KI270395.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1143</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270395.1;Alias=chrUn_KI270395v1,NT_187476.1</td>
    </tr>
    <tr>
      <th>2511502</th>
      <td>KI270396.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1880</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270396.1;Alias=chrUn_KI270396v1,NT_187477.1</td>
    </tr>
    <tr>
      <th>2511503</th>
      <td>KI270411.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2646</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270411.1;Alias=chrUn_KI270411v1,NT_187409.1</td>
    </tr>
    <tr>
      <th>2511504</th>
      <td>KI270412.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1179</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270412.1;Alias=chrUn_KI270412v1,NT_187408.1</td>
    </tr>
    <tr>
      <th>2511505</th>
      <td>KI270414.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2489</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270414.1;Alias=chrUn_KI270414v1,NT_187410.1</td>
    </tr>
    <tr>
      <th>2511506</th>
      <td>KI270417.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2043</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270417.1;Alias=chrUn_KI270417v1,NT_187415.1</td>
    </tr>
    <tr>
      <th>2511507</th>
      <td>KI270418.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2145</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270418.1;Alias=chrUn_KI270418v1,NT_187412.1</td>
    </tr>
    <tr>
      <th>2511508</th>
      <td>KI270419.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1029</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270419.1;Alias=chrUn_KI270419v1,NT_187411.1</td>
    </tr>
    <tr>
      <th>2511509</th>
      <td>KI270420.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2321</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270420.1;Alias=chrUn_KI270420v1,NT_187413.1</td>
    </tr>
    <tr>
      <th>2511510</th>
      <td>KI270422.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1445</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270422.1;Alias=chrUn_KI270422v1,NT_187416.1</td>
    </tr>
    <tr>
      <th>2511511</th>
      <td>KI270423.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>981</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270423.1;Alias=chrUn_KI270423v1,NT_187417.1</td>
    </tr>
    <tr>
      <th>2511512</th>
      <td>KI270424.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2140</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270424.1;Alias=chrUn_KI270424v1,NT_187414.1</td>
    </tr>
    <tr>
      <th>2511513</th>
      <td>KI270425.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1884</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270425.1;Alias=chrUn_KI270425v1,NT_187418.1</td>
    </tr>
    <tr>
      <th>2511514</th>
      <td>KI270429.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1361</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270429.1;Alias=chrUn_KI270429v1,NT_187419.1</td>
    </tr>
    <tr>
      <th>2511515</th>
      <td>KI270435.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>92983</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270435.1;Alias=chrUn_KI270435v1,NT_187424.1</td>
    </tr>
    <tr>
      <th>2511516</th>
      <td>KI270438.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>112505</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270438.1;Alias=chrUn_KI270438v1,NT_187425.1</td>
    </tr>
    <tr>
      <th>2511517</th>
      <td>KI270442.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>392061</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270442.1;Alias=chrUn_KI270442v1,NT_187420.1</td>
    </tr>
    <tr>
      <th>2511542</th>
      <td>KI270448.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>7992</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270448.1;Alias=chrUn_KI270448v1,NT_187495.1</td>
    </tr>
    <tr>
      <th>2511543</th>
      <td>KI270465.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1774</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270465.1;Alias=chrUn_KI270465v1,NT_187422.1</td>
    </tr>
    <tr>
      <th>2511544</th>
      <td>KI270466.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1233</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270466.1;Alias=chrUn_KI270466v1,NT_187421.1</td>
    </tr>
    <tr>
      <th>2511545</th>
      <td>KI270467.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>3920</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270467.1;Alias=chrUn_KI270467v1,NT_187423.1</td>
    </tr>
    <tr>
      <th>2511546</th>
      <td>KI270468.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>4055</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270468.1;Alias=chrUn_KI270468v1,NT_187426.1</td>
    </tr>
    <tr>
      <th>2511547</th>
      <td>KI270507.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>5353</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270507.1;Alias=chrUn_KI270507v1,NT_187437.1</td>
    </tr>
    <tr>
      <th>2511548</th>
      <td>KI270508.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1951</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270508.1;Alias=chrUn_KI270508v1,NT_187430.1</td>
    </tr>
    <tr>
      <th>2511549</th>
      <td>KI270509.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2318</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270509.1;Alias=chrUn_KI270509v1,NT_187428.1</td>
    </tr>
    <tr>
      <th>2511550</th>
      <td>KI270510.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2415</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270510.1;Alias=chrUn_KI270510v1,NT_187427.1</td>
    </tr>
    <tr>
      <th>2511551</th>
      <td>KI270511.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>8127</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270511.1;Alias=chrUn_KI270511v1,NT_187435.1</td>
    </tr>
    <tr>
      <th>2511552</th>
      <td>KI270512.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>22689</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270512.1;Alias=chrUn_KI270512v1,NT_187432.1</td>
    </tr>
    <tr>
      <th>2511553</th>
      <td>KI270515.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>6361</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270515.1;Alias=chrUn_KI270515v1,NT_187436.1</td>
    </tr>
    <tr>
      <th>2511554</th>
      <td>KI270516.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1300</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270516.1;Alias=chrUn_KI270516v1,NT_187431.1</td>
    </tr>
    <tr>
      <th>2511555</th>
      <td>KI270517.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>3253</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270517.1;Alias=chrUn_KI270517v1,NT_187438.1</td>
    </tr>
    <tr>
      <th>2511556</th>
      <td>KI270518.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2186</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270518.1;Alias=chrUn_KI270518v1,NT_187429.1</td>
    </tr>
    <tr>
      <th>2511557</th>
      <td>KI270519.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>138126</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270519.1;Alias=chrUn_KI270519v1,NT_187433.1</td>
    </tr>
    <tr>
      <th>2511558</th>
      <td>KI270521.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>7642</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270521.1;Alias=chrUn_KI270521v1,NT_187496.1</td>
    </tr>
    <tr>
      <th>2511559</th>
      <td>KI270522.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>5674</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270522.1;Alias=chrUn_KI270522v1,NT_187434.1</td>
    </tr>
    <tr>
      <th>2511560</th>
      <td>KI270528.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2983</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270528.1;Alias=chrUn_KI270528v1,NT_187440.1</td>
    </tr>
    <tr>
      <th>2511561</th>
      <td>KI270529.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1899</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270529.1;Alias=chrUn_KI270529v1,NT_187439.1</td>
    </tr>
    <tr>
      <th>2511562</th>
      <td>KI270530.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2168</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270530.1;Alias=chrUn_KI270530v1,NT_187441.1</td>
    </tr>
    <tr>
      <th>2511563</th>
      <td>KI270538.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>91309</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270538.1;Alias=chrUn_KI270538v1,NT_187443.1</td>
    </tr>
    <tr>
      <th>2511564</th>
      <td>KI270539.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>993</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270539.1;Alias=chrUn_KI270539v1,NT_187442.1</td>
    </tr>
    <tr>
      <th>2511566</th>
      <td>KI270544.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1202</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270544.1;Alias=chrUn_KI270544v1,NT_187444.1</td>
    </tr>
    <tr>
      <th>2511567</th>
      <td>KI270548.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1599</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270548.1;Alias=chrUn_KI270548v1,NT_187445.1</td>
    </tr>
    <tr>
      <th>2511568</th>
      <td>KI270579.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>31033</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270579.1;Alias=chrUn_KI270579v1,NT_187450.1</td>
    </tr>
    <tr>
      <th>2511569</th>
      <td>KI270580.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1553</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270580.1;Alias=chrUn_KI270580v1,NT_187448.1</td>
    </tr>
    <tr>
      <th>2511570</th>
      <td>KI270581.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>7046</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270581.1;Alias=chrUn_KI270581v1,NT_187449.1</td>
    </tr>
    <tr>
      <th>2511571</th>
      <td>KI270582.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>6504</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270582.1;Alias=chrUn_KI270582v1,NT_187454.1</td>
    </tr>
    <tr>
      <th>2511572</th>
      <td>KI270583.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1400</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270583.1;Alias=chrUn_KI270583v1,NT_187446.1</td>
    </tr>
    <tr>
      <th>2511573</th>
      <td>KI270584.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>4513</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270584.1;Alias=chrUn_KI270584v1,NT_187453.1</td>
    </tr>
    <tr>
      <th>2511574</th>
      <td>KI270587.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>2969</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270587.1;Alias=chrUn_KI270587v1,NT_187447.1</td>
    </tr>
    <tr>
      <th>2511575</th>
      <td>KI270588.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>6158</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270588.1;Alias=chrUn_KI270588v1,NT_187455.1</td>
    </tr>
    <tr>
      <th>2511576</th>
      <td>KI270589.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>44474</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270589.1;Alias=chrUn_KI270589v1,NT_187451.1</td>
    </tr>
    <tr>
      <th>2511577</th>
      <td>KI270590.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>4685</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270590.1;Alias=chrUn_KI270590v1,NT_187452.1</td>
    </tr>
    <tr>
      <th>2511578</th>
      <td>KI270591.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>5796</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270591.1;Alias=chrUn_KI270591v1,NT_187457.1</td>
    </tr>
    <tr>
      <th>2511579</th>
      <td>KI270593.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>3041</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270593.1;Alias=chrUn_KI270593v1,NT_187456.1</td>
    </tr>
    <tr>
      <th>2511580</th>
      <td>KI270706.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>175055</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270706.1;Alias=chr1_KI270706v1_random,NT_187361.1</td>
    </tr>
    <tr>
      <th>2511584</th>
      <td>KI270707.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>32032</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270707.1;Alias=chr1_KI270707v1_random,NT_187362.1</td>
    </tr>
    <tr>
      <th>2511585</th>
      <td>KI270708.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>127682</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270708.1;Alias=chr1_KI270708v1_random,NT_187363.1</td>
    </tr>
    <tr>
      <th>2511588</th>
      <td>KI270709.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>66860</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270709.1;Alias=chr1_KI270709v1_random,NT_187364.1</td>
    </tr>
    <tr>
      <th>2511634</th>
      <td>KI270710.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>40176</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270710.1;Alias=chr1_KI270710v1_random,NT_187365.1</td>
    </tr>
    <tr>
      <th>2511635</th>
      <td>KI270711.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>42210</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270711.1;Alias=chr1_KI270711v1_random,NT_187366.1</td>
    </tr>
    <tr>
      <th>2511783</th>
      <td>KI270712.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>176043</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270712.1;Alias=chr1_KI270712v1_random,NT_187367.1</td>
    </tr>
    <tr>
      <th>2512136</th>
      <td>KI270713.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>40745</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270713.1;Alias=chr1_KI270713v1_random,NT_187368.1</td>
    </tr>
    <tr>
      <th>2512162</th>
      <td>KI270714.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>41717</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270714.1;Alias=chr1_KI270714v1_random,NT_187369.1</td>
    </tr>
    <tr>
      <th>2512197</th>
      <td>KI270715.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>161471</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270715.1;Alias=chr2_KI270715v1_random,NT_187370.1</td>
    </tr>
    <tr>
      <th>2512198</th>
      <td>KI270716.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>153799</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270716.1;Alias=chr2_KI270716v1_random,NT_187371.1</td>
    </tr>
    <tr>
      <th>2512199</th>
      <td>KI270717.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>40062</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270717.1;Alias=chr9_KI270717v1_random,NT_187372.1</td>
    </tr>
    <tr>
      <th>2512289</th>
      <td>KI270718.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>38054</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270718.1;Alias=chr9_KI270718v1_random,NT_187373.1</td>
    </tr>
    <tr>
      <th>2512290</th>
      <td>KI270719.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>176845</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270719.1;Alias=chr9_KI270719v1_random,NT_187374.1</td>
    </tr>
    <tr>
      <th>2512299</th>
      <td>KI270720.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>39050</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270720.1;Alias=chr9_KI270720v1_random,NT_187375.1</td>
    </tr>
    <tr>
      <th>2512300</th>
      <td>KI270721.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>100316</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270721.1;Alias=chr11_KI270721v1_random,NT_187376.1</td>
    </tr>
    <tr>
      <th>2512356</th>
      <td>KI270722.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>194050</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270722.1;Alias=chr14_KI270722v1_random,NT_187377.1</td>
    </tr>
    <tr>
      <th>2512360</th>
      <td>KI270723.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>38115</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270723.1;Alias=chr14_KI270723v1_random,NT_187378.1</td>
    </tr>
    <tr>
      <th>2512370</th>
      <td>KI270724.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>39555</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270724.1;Alias=chr14_KI270724v1_random,NT_187379.1</td>
    </tr>
    <tr>
      <th>2512381</th>
      <td>KI270725.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>172810</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270725.1;Alias=chr14_KI270725v1_random,NT_187380.1</td>
    </tr>
    <tr>
      <th>2512484</th>
      <td>KI270726.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>43739</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270726.1;Alias=chr14_KI270726v1_random,NT_187381.1</td>
    </tr>
    <tr>
      <th>2512502</th>
      <td>KI270727.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>448248</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270727.1;Alias=chr15_KI270727v1_random,NT_187382.1</td>
    </tr>
    <tr>
      <th>2512614</th>
      <td>KI270728.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>1872759</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270728.1;Alias=chr16_KI270728v1_random,NT_187383.1</td>
    </tr>
    <tr>
      <th>2512982</th>
      <td>KI270729.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>280839</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270729.1;Alias=chr17_KI270729v1_random,NT_187384.1</td>
    </tr>
    <tr>
      <th>2513045</th>
      <td>KI270730.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>112551</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270730.1;Alias=chr17_KI270730v1_random,NT_187385.1</td>
    </tr>
    <tr>
      <th>2513046</th>
      <td>KI270731.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>150754</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270731.1;Alias=chr22_KI270731v1_random,NT_187386.1</td>
    </tr>
    <tr>
      <th>2513074</th>
      <td>KI270732.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>41543</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270732.1;Alias=chr22_KI270732v1_random,NT_187387.1</td>
    </tr>
    <tr>
      <th>2513122</th>
      <td>KI270733.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>179772</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270733.1;Alias=chr22_KI270733v1_random,NT_187388.1</td>
    </tr>
    <tr>
      <th>2513544</th>
      <td>KI270734.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>165050</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270734.1;Alias=chr22_KI270734v1_random,NT_187389.1</td>
    </tr>
    <tr>
      <th>2513662</th>
      <td>KI270735.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>42811</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270735.1;Alias=chr22_KI270735v1_random,NT_187390.1</td>
    </tr>
    <tr>
      <th>2513683</th>
      <td>KI270736.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>181920</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270736.1;Alias=chr22_KI270736v1_random,NT_187391.1</td>
    </tr>
    <tr>
      <th>2513684</th>
      <td>KI270737.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>103838</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270737.1;Alias=chr22_KI270737v1_random,NT_187392.1</td>
    </tr>
    <tr>
      <th>2513685</th>
      <td>KI270738.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>99375</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270738.1;Alias=chr22_KI270738v1_random,NT_187393.1</td>
    </tr>
    <tr>
      <th>2513704</th>
      <td>KI270739.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>73985</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270739.1;Alias=chr22_KI270739v1_random,NT_187394.1</td>
    </tr>
    <tr>
      <th>2513705</th>
      <td>KI270740.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>37240</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270740.1;Alias=chrY_KI270740v1_random,NT_187395.1</td>
    </tr>
    <tr>
      <th>2513706</th>
      <td>KI270741.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>157432</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270741.1;Alias=chrUn_KI270741v1,NT_187497.1</td>
    </tr>
    <tr>
      <th>2513716</th>
      <td>KI270742.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>186739</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270742.1;Alias=chrUn_KI270742v1,NT_187513.1</td>
    </tr>
    <tr>
      <th>2513720</th>
      <td>KI270743.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>210658</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270743.1;Alias=chrUn_KI270743v1,NT_187498.1</td>
    </tr>
    <tr>
      <th>2513728</th>
      <td>KI270744.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>168472</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270744.1;Alias=chrUn_KI270744v1,NT_187499.1</td>
    </tr>
    <tr>
      <th>2513746</th>
      <td>KI270745.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>41891</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270745.1;Alias=chrUn_KI270745v1,NT_187500.1</td>
    </tr>
    <tr>
      <th>2513749</th>
      <td>KI270746.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>66486</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270746.1;Alias=chrUn_KI270746v1,NT_187501.1</td>
    </tr>
    <tr>
      <th>2513750</th>
      <td>KI270747.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>198735</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270747.1;Alias=chrUn_KI270747v1,NT_187502.1</td>
    </tr>
    <tr>
      <th>2513795</th>
      <td>KI270748.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>93321</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270748.1;Alias=chrUn_KI270748v1,NT_187503.1</td>
    </tr>
    <tr>
      <th>2513797</th>
      <td>KI270749.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>158759</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270749.1;Alias=chrUn_KI270749v1,NT_187504.1</td>
    </tr>
    <tr>
      <th>2513941</th>
      <td>KI270750.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>148850</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270750.1;Alias=chrUn_KI270750v1,NT_187505.1</td>
    </tr>
    <tr>
      <th>2513948</th>
      <td>KI270751.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>150742</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270751.1;Alias=chrUn_KI270751v1,NT_187506.1</td>
    </tr>
    <tr>
      <th>2513951</th>
      <td>KI270752.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>27745</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270752.1;Alias=chrUn_KI270752v1,NT_187507.1</td>
    </tr>
    <tr>
      <th>2513955</th>
      <td>KI270753.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>62944</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270753.1;Alias=chrUn_KI270753v1,NT_187508.1</td>
    </tr>
    <tr>
      <th>2513974</th>
      <td>KI270754.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>40191</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270754.1;Alias=chrUn_KI270754v1,NT_187509.1</td>
    </tr>
    <tr>
      <th>2513996</th>
      <td>KI270755.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>36723</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270755.1;Alias=chrUn_KI270755v1,NT_187510.1</td>
    </tr>
    <tr>
      <th>2513997</th>
      <td>KI270756.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>79590</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270756.1;Alias=chrUn_KI270756v1,NT_187511.1</td>
    </tr>
    <tr>
      <th>2513998</th>
      <td>KI270757.1</td>
      <td>GRCh38</td>
      <td>supercontig</td>
      <td>1</td>
      <td>71251</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=supercontig:KI270757.1;Alias=chrUn_KI270757v1,NT_187512.1</td>
    </tr>
    <tr>
      <th>2513999</th>
      <td>MT</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>16569</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:MT;Alias=chrM,J01415.2,NC_012920.1</td>
    </tr>
    <tr>
      <th>2514125</th>
      <td>X</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>1</td>
      <td>156040895</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:X;Alias=CM000685.2,chrX,NC_000023.11</td>
    </tr>
    <tr>
      <th>2594560</th>
      <td>Y</td>
      <td>GRCh38</td>
      <td>chromosome</td>
      <td>2781480</td>
      <td>56887902</td>
      <td>.</td>
      <td>.</td>
      <td>.</td>
      <td>ID=chromosome:Y;Alias=CM000686.2,chrY,NC_000024.10</td>
    </tr>
  </tbody>
</table>