<!DOCTYPE html>
<html>


<head>
    <title>Homepage</title>
	<style>
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }
</style>
</head>
<body style= "background-color:#F5FFFA;">
	<form action="/codedesc">
	<button type="submit"style ="background-color:#E6E6FA;top:0;left:10;color:red;font-size:20px;border-color:white;">SHOW THE DESCRIPTION OF THE CODE</button>
	</form>
	<h1 style="color:black;font-size:40px;"> Dataset Operations &#128202; &#128187 </h1>
	<h2 style="font-size:25px;color:grey;">Whole Dataset Operation &#128203</h2>
	
	<form action="/basicinfogetter">
	<button type="submit"style ="background-color:#E6E6FA;color:green;font-size:20px;border-color:white;">Basic Information&#128205;</button>
	</form>
	&nbsp;

	<form action="/uniqueseqlist">
	<button type="submit"style ="background-color:#E6E6FA;color:green;font-size:20px;border-color:white;">Unique Sequence IDs List&#128205;</button>
	</form>
	&nbsp;
	
	<form action="/uniqueoperationlist">
    <button type="submit"style ="background-color:#E6E6FA;color:green;font-size:20px;border-color:white;">Unique Type Of Available Operations List &#128205;</button>
	</form>
	&nbsp;
	
	<form action="/featuresofthesamesource">
	<button type="submit"style ="background-color:#E6E6FA;color:green;font-size:20px;border-color:white;">Features Number Provided By Same Source&#128205;</button>
	</form>
	&nbsp;
	
	<form action="/numofentries">
	<button type="submit"style ="background-color:#E6E6FA;color:green;font-size:20px;border-color:white;">Entries Number For Each Operation&#128205;</button>
	</form>
	&nbsp;
	
	<h2 style="font-size:25px;color:grey;">Chromosomal Dataset Operation &#128269</h2>
	<form action="/entrieswithentirechr">
	<button type="submit"style ="background-color:#FFF5EE;color:#9370DB;font-size:20px;border-color:white;">Entire chromosomes Information&#128205;</button>
	</form>
	&nbsp;
	
	<form action="/fractionofunassembledsequences">
	<button type="submit"style ="background-color:#FFF5EE;color:#9370DB;font-size:20px;border-color:white;">Unassembled Sequences Fraction&#128205;</button>
	</form>
   
    <h2 style="font-size:25px;color:grey;">ensembl,havana and ensembl_havana Dataset Operation &#128269</h2>
	<form action="/entriesfromensembl">
	<button type="submit"style ="background-color:rgb(203,235,193);font-size:20px;border-color:white;">Entries From The Sources&#128205;</button>
	</form>
	&nbsp;

	<form action="/genenamesgetter">
	<button type="submit"style ="background-color:rgb(203,235,193);font-size:20px;border-color:white;">Gene Names List&#128205;</button>
	</form>
	&nbsp;
	
	<form action="/uniqueseqlist2">
	<button type="submit"style ="background-color:rgb(203,235,193);font-size:20px;border-color:white;">The list of unique sequence IDs&#128205;</button>
	</form>
	&nbsp;
	
	<h2>List Of active operations&#128209</h2>
	<form action="/activeoplist">
	<button type="submit"style ="background-color:rgb(203,235,193);font-size:20px;border-color:white;">Show the list&#128205;</button>
	</form>
	
	</body>
	</html>