<a style="position:relative; top:200px; left:20px;", href="{{ url_for('index') }}">To the main page</a><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>UniqueSeqList</th>
      <th>EntriesFromEnsembl</th>
      <th>GeneNamesGetter</th>
      <th>EntriesWithEntireChr</th>
      <th>BasicInfoGetter</th>
      <th>FeaturesOfTheSameSource</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Global Data</th>
      <td>350631.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>9</td>
      <td>2601849</td>
    </tr>
    <tr>
      <th>Data from ensembl,havana,ensembl_havana</th>
      <td>347229.0</td>
      <td>2414370.0</td>
      <td>927729.0</td>
      <td>NaN</td>
      <td>9</td>
      <td>2414370</td>
    </tr>
    <tr>
      <th>Chromosomal Data</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>194.0</td>
      <td>9</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>